//VARIRABLES
$dkMagenta: hsl(300, 43%, 22%);
$ltPink: hsl(333, 80%, 67%);
$dkGray: hsl(303, 10%, 53%);
$ltGray: hsl(300, 24%, 96%);

//SETUP
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
}

html, body{ 
    height: 100%;
    width: 100%;
}

body{ 
    font-family: "League Spartan", sans-serif;
    font-size: 15px;
}

.site-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100%;
    padding: 10vh 5%;
    width:100%;
}

//TEXT & REUSABLES
h1{ 
    color:$dkMagenta;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1em;
}

h4{ 
    color: $dkMagenta;
    margin-top: 1em;
}

p{
    color:$dkGray;
    line-height: 1.5;
    font-size:18px;
}

section{ 
    margin-bottom: 7.5vh;
    max-width: 500px;
    width: 100%;
}


//++++++MOBILE DESIGN+++++++++
//TITLE SECTION
#title-section{ 
    text-align: center;
}

//RATING SECTION
.rating-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background-color: $ltGray;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1rem;
}

.star-container{ 
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

//TESTIMONIAL SECTION 
.testimonial-container{ 
    background-color: $dkMagenta;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 1rem;
}

.header{
    display: flex;
    justify-content: baseline;
}


.profile-img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 25px;
}

.name{
     color:#FFF;
     margin:0.5em 0;
}

.verified{ 
    color:hsl(333, 80%, 67%);
    font-weight: 100;
    margin: 0;
}

.testimonial-text{
    margin-top: 2rem;
    
    p{
        color:#FFF;
        font-weight: 400;
    }
}


//++++++++DESKTOP DESIGN+++++++
@media screen and (min-width:1024px) {
    
    //SETUP
    .site-container{
        background: url(images/bg-pattern-top-desktop.svg) top left no-repeat,
         url(images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
        overflow: hidden;
        max-width: 2000px;
    }
    
    .desktop-container{
        display: flex;
        justify-content: space-between;
    }

    //TEXT AND REUSABLES
    section{
        margin:0;
        max-width: unset;
    }

    //TITLE SECTION
    #title-section{
        text-align: left;
        flex:1;
    }

    //RATING SECTION
    #rating-section{
        width: 60%;
    }

    //TESTIMONIAL SECTION
    #testimonial-section{
        display: flex;
    }

    .testimonial-container{
        margin: 0 1rem 0 0;
    }

    
}